<div class="searches-column first">
    <ul>
        {{#first}}<li><a href="/#!zaposlitev?what={{ name }}">{{ name_short }}</a></li>{{/first}}
    </ul>
</div>
<div class="searches-column">
    <ul>
        {{#second}}<li><a href="/#!zaposlitev?what={{ name }}">{{ name_short }}</a></li>{{/second}}
    </ul>
</div>
<div class="searches-column">
    <ul>
        {{#third}}<li><a href="/#!zaposlitev?what={{ name }}">{{ name_short }}</a></li>{{/third}}
    </ul>
</div>
<div class="searches-column">
    <ul>
        {{#fourth}}<li><a href="/#!zaposlitev?what={{ name }}">{{ name_short }}</a></li>{{/fourth}}
    </ul>
</div>
<div class="searches-column last">
    <ul>
        {{#fifth}}<li><a href="/#!zaposlitev?what={{ name }}">{{ name_short }}</a></li>{{/fifth}}
    </ul>
</div>
<div class="clearfix"></div>
